# environment variables - NEVER upload these
backend/.env
frontend/.env

# python
backend/venv/
backend/__pycache__/
backend/*.pyc
backend/uploads/

# node
frontend/node_modules/

# mac
.DS_Storebackend/chroma_db/
